html {
    scroll-behavior: smooth;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.home {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 35vh;
}


.logo {
    height:20vh;
    margin-left: 1vw;
}

.home-search {
    height: 3vh;
    width: 20vw;
    border-radius: 20px;
    padding:2%;
}


.job-image {
    height: 18vh;
    width: 10vw;
}
.pro-image {
    height: 15vh;
    width: 8vw;
    border-radius: 50%;

}

.base {
    background-color: rgba(245, 241, 241, 0.628);
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}
/* .job-cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    padding: 3%;
} */

.job-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;

}

.job-cards {
    align-items: center;
    display: flex;
    gap: 5vw;
    padding: 3%;
    width: calc(15vw * 4 + 20px); /* Adjust the width for 4 buttons */
    overflow: hidden; /* Hide overflow to prevent buttons from extending beyond */
}

::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll handle */
    border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll handle on hover */
}

.admin-button {
    border: none;
    outline: none;
    background-color: transparent; 
    cursor: pointer;

}

.card-admin {
    border: none;
    outline: none;
    background-color: transparent; 
    width: 15vw;
    height:25vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
    display: flex;
    flex-direction: column;
    gap:2vh;
    align-items: center;
}

.job-button {
    width: 25vw;
    height:80vh;
    border: none;
    outline: none;
    background-color: transparent; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
    padding:10%;
    &:hover {
        background-color: white;
    }
}


.job-button-smaller {
    width: 15vw;
    border: none;
    outline: none;
    background-color: transparent; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
    padding:10%;
    &:hover {
        background-color: white;

    }
}

h1,h2,h3 {
    color: rgba(147, 66, 66, 0.84);
    font-family:sans-serif;
    margin: 10px;
}

h3 {
    color: black;
    font-family:sans-serif;
    margin: 10px;
}

.all-button {
    font-family:sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;

}

.pro-cards {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 5vw;
    padding: 3%;
}

.pro-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;

}

.column-container {
    display: flex;
    flex-direction: column;
    gap:1vh;
    align-items: center;
    background-color: rgba(245, 241, 241, 0.628);

}

.home-logo {
    position: absolute;
    left: 3vw;
    width:40px;
    height:40px;

    &:hover {
        width: 45px;
        height: 45px;
        transition: all 0.5s;
    }
}

.admin-logo {
    position: absolute;
    left: 7vw;
    width:40px;
    height:40px;

    &:hover {
        width: 45px;
        height: 45px;
        transition: all 0.5s;
    }
}




.adminlogin {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}


.adminlogin form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.adminlogin form label {
    font-weight: bold;
}

.adminlogin form input[type="text"],
.adminlogin form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.adminlogin form button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: #0056b3;
    }
}

.actionlogo {
    width:20px;
    height:20px;

    &:hover {
        width: 25px;
        height: 25px;
        transition: all 0.5s;
    }
}

.add-new-card {
    background-color: transparent; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2vh;
    width: 30vw;
    height: 40vh;
}

.formClass {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formClass label {
    display: block;
    margin-bottom: 5px;
}

.formClass input[type="text"],
.formClass select {
    width:70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formClass button {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.formClass button[type="submit"] {
    background-color: #28a745;
}

.formClass button[type="submit"]:hover,
.formClass button[type="submit"]:focus {
    background-color: #218838;
}

.formClass button[type="submit"]:active {
    background-color: #1e7e34;
}


/* Optional: Style adjustments for the buttons */
#scroll-left-btn {
    position: absolute;
    left: 10vw;
}

#scroll-right-btn {
    position: absolute;
    right: 10vw;
}

.scroll-btn {
    background-color:  rgba(147, 66, 66, 0.496); 
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.scroll-btn:hover {
    background-color:rgba(147, 66, 66, 0.84);
}

.scroll-btn:active {
    transform: translateY(1px);
}

.recommendationsDiv {
    height: 30vh; /* Adjust as needed */
    overflow-y: auto;
}

.recommendationsDiv table {
    width: 100%;
    border-collapse: collapse;
}

.recommendationsDiv table th,
.recommendationsDiv table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.recommendationsDiv table th {
    background-color: #f2f2f2;
}

.recommendationsDiv table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.recommendationsDiv table tbody tr:hover {
    background-color: #ddd;
}